.navBar {
    display: flex;
    width: auto;
    height: 3rem;
    background-color: var(--color-5);
    justify-content: space-between;
}

/* TAMANHO E PADDING DO NOME EGRINALDO FERREIRA */

.navBar h2 {
    size: 16px;
    padding: 0.5rem;
}

/* AJUSTE INDIVIDUAL NAS FONTES E CORES DO NOME EGRINALDO FERREIRA */

.nome1{
    color: var(--color-2);
    font-family: 'Mona-Sans', sans-serif;
    font-weight: 500;
    width: 100;
}

.nome2 {
    color: var(--color-3);
    font-family: 'Mona-Sans', sans-serif;
    font-weight: 200;
    width: 125;
}

/* CONFIGURAÇÃO DOS ITENS DO MENU OS SELETORES  */

.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1% 0 0;
    margin-left: -15rem;
}


.navUl{
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding: 0;

}
.navUlList{
    color: var(--color-6);
    float: left;
    font-family: 'Mona-Sans', sans-serif;
    font-size: 10;
    font-weight: 400;
    text-decoration: none;
}

.navUlList:hover{
    color: var(--color-1);
}

.iconEmail{
    padding: 0.5rem;
    margin-right: 0.5rem;
    width: 40px;
    height: 40px;
}

/* Desktops e laptops de baixa resolucão */
@media only screen and (max-width: 882px) {
    .navBar {
        display: flex;
        width: auto;
        height: 3rem;
        background-color: var(--color-5);
        justify-content: space-between;
    }
    
    /* CONFIGURAÇÃO DOS ITENS DO MENU OS SELETORES  */
    
    .navMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1% 0 0;
        margin-left: -1rem;
    }
    
    .iconEmail{
        padding: 0.5rem;
        margin-top: 0.1rem;
        margin-right: 0.5rem;
        width: 30px;
        height: 30px;
    }
}

/* Desktops e laptops de resolucão muita alta */
@media only screen and (min-width: 1281px) {

}

/*resolucão  Mobile*/
@media only screen and (max-width: 320px ){
    .navBar {
        display: flex;
        width: auto;
        align-items: center;
        margin-left: 2rem;
        height: 3rem;
        background-color: var(--color-5);
        /* justify-content: space-between; */
        flex-direction: column;
        gap: 1rem;
    }

    .iconEmail{
        padding: 0.5rem;
        margin-top: -2.4rem;
        margin-right: 0.5rem;
        margin-left: 16rem;
        width: 20px;
        height: 20px;
    }

    .iconEmailLink{
        margin-top: -1.1rem;
    }

    .navUlList{
        color: var(--color-6);
        float: left;
        font-family: 'Mona-Sans', sans-serif;
        font-size: 8px;
        font-weight: 400;
    }

    .navUl{
        display: flex;
        list-style-type: none;
        gap: 20px;
        padding: 0;
    
    }
}
 
@media only screen and (min-width: 321px) and (max-width: 480px ){
    .navBar {
        display: flex;
        width: auto;
        align-items: center;
        margin-left: -2rem;
        height: 3rem;
        background-color: var(--color-5);
        /* justify-content: space-between; */
        flex-direction: column;
        gap: 1rem;
    }

    .iconEmail{
        padding: 0.5rem;
        margin-top: -2.4rem;
        margin-right: 0.5rem;
        margin-left: 17rem;
        width: 20px;
        height: 20px;
    }

    .iconEmailLink{
        margin-top: -1.1rem;
    }

    .navUlList{
        color: var(--color-6);
        float: left;
        font-family: 'Mona-Sans', sans-serif;
        font-size: 8px;
        font-weight: 400;
    }

    .navUl{
        display: flex;
        list-style-type: none;
        gap: 20px;
        padding: 0;
    
    }
}

