.ImputTxTBase{
    margin: 24px 0;
    /* display: flex;
    flex-direction: column;
    padding: 0rem 0rem 2rem 10rem; */
}

.ImputTxTBase label{
    display: block;
    margin-bottom: 8px;
    color: var(--color-2);
    font-family: 'Mona-Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.ImputTxTBase textarea{
    color: var(--color-2);
    font-family: 'Mona-Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    resize: none;
    overflow-y: auto;
    width: 66.2rem;
    height: auto;
    background: none;
    border: none;
    border-block-end: groove 0.5px;
    box-sizing: border-box;
}