.projetoIni {
    background-color: var(--color-4);
    padding: 2rem;
}

.projeto1{
    padding-top: 3rem;
}

.projetoHGreen{
    color: var(--color-2);
    font-family: 'Mona-Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.projetoPStyle{
    color: var(--color-3);
    font-family: 'Mona-Sans', sans-serif;
    font-size: 15px;
    font-weight: 200;
    padding-top: 1rem;
}

.projetoPStyleLink{
    text-decoration: none;
    color: var(--color-1);
    font-family: 'Mona-Sans', sans-serif;
    font-size: 15px;
    font-weight: 200;
}

.projetoStyleGreen{
    color: var(--color-1);
    font-family: 'Mona-Sans', sans-serif;
    font-size: 15px;
    font-weight: 200;
}

.projeto2{
    display: flex;
    flex-direction: column;
}

.projetoSec{
    display: flex;
    justify-content: space-evenly;
}


.projetoBloco{
    display: grid;
    align-items: center;
    width: 18rem;
    height: 16rem;
    background-color: var(--color-5);
    border-radius: 36px;
    margin: 2rem 0rem 2rem 0rem;
}

.projetoGrade {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.3rem;
    gap: 0.5rem;
    border-bottom: groove;
}

.projetoGradeH{
    color: var(--color-1);
    font-family: 'Mona-Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 0.3rem;
}

.projetoGradeHBase{
    color: var(--color-1);
    padding-top: 3rem;
    font-family: 'Mona-Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.projetoGradeUl {
    display: flex;
    flex-direction:row;
    gap: 0.6rem;
}

.projetoGradeUlLi{
    text-align: center;
    color: var(--color-3);
    width: 3rem;
    font-family: 'Mona-Sans', sans-serif;
    font-size: 12px;
    font-weight: 200;
    background-color: var(--color-7);
    border-radius: 3px;
    padding: 0rem 0.3rem 0rem 0.3rem;
    list-style: none;
}

.projetoBloco img {
    margin-left: auto;
    margin-right: auto;
    width: 16.50rem;
    height: 8.68rem;
    margin-top: -2rem;

}

#imgPerfil {
    padding: 0;
    margin-bottom: auto;
    margin-top: 0.3rem;
    width: 4rem;
    height: 4rem;
}

/*resolucão  Mobile*/
@media only screen and (max-width: 320px ){

    .projetoIni{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projetoSec{
        display: flex;
        flex-direction: column;
    }

    .projetoBloco{
        width: 17rem;
        
    }

    .projetoBloco img{
        margin-left: auto;
        margin-right: auto;
        width: 14.90rem;
        height: 8.68rem;
        margin-top: -2rem;

    }

    .projetoGrade {
        display: flex;
        /* flex-direction: column; */
        gap: 0.5rem;
    }

    .projetoGradeUl {
        display: flex;
        width: 12rem;
        /* flex-direction: column; */
        gap: 0.5rem;

    }
}

@media only screen and (min-width: 321px) and (max-width: 480px ){
    .projetoIni{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projetoSec{
        display: flex;
        flex-direction: column;
    }

    .projetoBloco{
        width: 20rem;
        height: 16.5rem;
        
    }

    .projetoBloco img{
        margin-left: auto;
        margin-right: auto;
        width: 15.90rem;
        height: 8.68rem;
        margin-top: -2rem;

    }

    .projetoGrade {
        display: flex;
        width: 80%;
        /* flex-direction: column; */
        gap: 0.3rem;
    }

    .projetoGradeUl {
        display: flex;
        /* flex-direction: column; */
        gap: 0.2rem;

    }
}

@media only screen and (min-width: 481px) and (max-width: 926px ){
    .projetoIni{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projetoSec{
        display: flex;
        flex-direction: column;
    }

    .projetoBloco{
        width: auto;
        height: 22rem;
        
    }

    .projetoBloco img{
        margin-left: auto;
        margin-right: auto;
        width: 16.90rem;
        height: 12.68rem;
        margin-top: -2rem;

    }

    .projetoGrade {
        display: flex;
        width: 80%;
        /* flex-direction: column; */
        gap: 0.3rem;
    }

    .projetoGradeUl {
        display: flex;
        /* flex-direction: column; */
        gap: 0.2rem;

    }
}

