.apresenIni{
    display: flex;
    width: auto;
    height: 37rem;
    justify-content: center;
    gap: 2%;
    margin: 0;
}

.apresenImg {
    margin-top: 0.9rem;
    padding: 0;
}

.apresenText{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 40px;
    margin-top: 7rem;
    margin-left: 2rem;

}


/* COMANDO PARA COLOCAR AS DUAS DIV INICIAIS SOBREPOSTAS */
.apresenImg:last-child{
    position: relative;
    z-index: 10;
    margin-left: -3rem;
}

.apresenText:first-child{
    position: relative;
    z-index: 20;
}

.apresenText h3{
    width: 250px;
    height: 27px;
    padding: 12px;
    background-color: var(--color-1);
    border-radius: 10px;
    font-family: 'Mona-Sans', sans-serif;
    font-size: 12;
    font-weight: 400;
}

.apresenTextLink{
    color: var(--color-1);
    font-family: 'Mona-Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.apresenText h1{
    width: 45rem;
    color: var(--color-2);
    font-family: 'Mona-Sans', sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.apresenText p {
    text-align: left;
    font-family: 'Mona-Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;

}


/* Desktops e laptops de baixa resoluc達o */
@media only screen and (max-width: 992px)  {

    .apresenIni{
        display: flex;
        width: auto;
        height: 25.5rem;
        justify-content: center;
        gap: 2%;
        margin: 0;
    }

    .apresenImg {
        width: 400px;
        height: 400px;
        margin-top: 0.9rem;
        padding: 0;
    }

    .apresenImg:last-child{
        position: relative;
        z-index: 10;
        margin-left: -5rem;
    }
    

    .apresenText h1{
        width: 20rem;
        color: var(--color-2);
        font-family: 'Mona-Sans', sans-serif;
        font-size: 20px;
        font-weight: 500;
    }
    .apresenText{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 30px;
        margin-top: 6rem;
        margin-left: 2rem;
    
    }
}

/* Desktops e laptops de alta resoluc達o */
@media only screen and (min-width: 1025px){


}

/* Desktops e laptops de resoluc達o muita alta */
@media only screen and (min-width: 1281px) {
    .apresenIni{
        display: flex;
        width: auto;
        height: 55rem;
        justify-content: center;
        gap: 2%;
        margin: 0;
    }

    .apresenImg {
        margin-top: 0.9rem;
        padding: 0;
    }

    .apresenImg:last-child{
        position: relative;
        z-index: 10;
        margin-left: -5rem;
    }
    

    .apresenText h1{
        width: 66rem;
        color: var(--color-2);
        font-family: 'Mona-Sans', sans-serif;
        font-size: 45px;
        font-weight: 500;
    }
    .apresenText{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 40px;
        margin-top: 14rem;
        margin-left: 5rem;
    
    }
    .apresenText p {
        width: 55rem;
        text-align: left;
        font-family: 'Mona-Sans', sans-serif;
        font-size: 30px;
        font-weight: 300;
    
    }
}

/*resoluc達o  Mobile*/
@media only screen and (max-width: 320px ){
    .apresenIni{
        display: flex;
        width: auto;
        height: auto;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        gap: 2%;
        margin: 0;
    }

    .apresenImg {
        width: 300px;
        height: 288px;
        margin-top: 3rem;
    }
    .apresenImg:last-child{
        position: relative;
        z-index: 0;
        margin-left: 0.5rem;
    }

    .apresenText h3{
        width: 200px;
        height: 20px;
        padding: 12px;
        background-color: var(--color-1);
        border-radius: 10px;
        font-family: 'Mona-Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    .apresenText{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 30px;
        margin-top: 3rem;
        /* margin-left: 2rem; */
    
    }

    .apresenText h1{
        width: 20rem;
        color: var(--color-2);
        font-family: 'Mona-Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;
    }
    .apresenText p {
        text-align: left;
        font-family: 'Mona-Sans', sans-serif;
        font-size: 20px;
        font-weight: 300;
    
    }

    .apresenTextLink{
        margin-top: -1rem;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px ){
    .apresenIni{
        display: flex;
        width: auto;
        height: auto;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        gap: 2%;
        margin: 0;
    }

    .apresenImg {
        width: 300px;
        height: 288px;
        margin-top: 3rem;
    }
    .apresenImg:last-child{
        position: relative;
        z-index: 0;
        margin-left: 0.6rem;
    }

    .apresenText h3{
        width: 200px;
        height: 20px;
        padding: 12px;
        background-color: var(--color-1);
        border-radius: 10px;
        font-family: 'Mona-Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    .apresenText{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 30px;
        margin-top: 0rem;
        /* margin-left: 2rem; */
    
    }

    .apresenText h1{
        width: 20rem;
        color: var(--color-2);
        font-family: 'Mona-Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;
    }
    .apresenText p {
        width: 20rem;
        text-align: left;
        font-family: 'Mona-Sans', sans-serif;
        font-size: 20px;
        font-weight: 300;
    
    }

    .apresenTextLink{
        padding: 1rem 1rem 1rem 0rem;
        margin-top: -1rem;
    }
}
